.app {
  position: relative;
  width: 95vw;
  height: 95vh;
  overflow: hidden;
  margin: auto;
  user-select: none;
}

.chat-wrapper {
  position: relative;
  overflow: hidden;
  top: 0px;
  transition: transform 1s;
}
.chat {
  width: 100%;
  height: 95vh;
  background-color: white;
}
.chat-wrapper.swipe {
  transform: translateX(-100vw);
  transition: transform 1s;
}
.chat-wrapper .input-wrapper {
  padding: 20px;
  height: 15%;
}
.chat-wrapper .input-wrapper textarea {
  width: 80%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 8px;
  border: 2px solid #a63da0;
}
.chat-wrapper .input-wrapper textarea:focus {
  outline: none !important;
  border: 2px solid #d465cf;
}
.chat-wrapper .input-wrapper button {
  display: inline-block;
  vertical-align: top;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #a63da0;
  color: white;
  transition: all .3s;
}
.chat-wrapper .input-wrapper button:hover {
  background-color: #d465cf;
}
.chat-wrapper .chat-messages {
  margin: auto;
  overflow-y: scroll;
  height: 75%;
}
.chat-wrapper .chat-message-wrapper {
  background-color: #a63da0;
  margin: 8px;
  padding: 8px;
  border-radius: 10px;
  color: white;
  width: fit-content;
}


.time {
  position: absolute;
  top: 0;
  margin-left: 100vw;
  background-color: white;
  width: 100vw;
  height: 100vh;
  transition: transform 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.time.swipe {
  transform: translateX(-100vw);
  transition: transform 1s;
}
.time-wrapper {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}
